/**
 * Author:   Viktor Chistyakov
 * Nick:     vityachis
 * Email:    vityachis@ya.ru
 * Telegram: https://t.me/vityachis
 * VK:       https://vk.me/vityachis
 */

body {
    padding-top: 60px;
}
a.btn-create {
    float: right;
}
input.form-image {
    width: 100%;
}
#form_message {
    margin-bottom: 20px;
}
#form_message textarea {
    resize: vertical;
    max-height: 200px;
    min-height: 75px;
}
.btn-submit {
    margin-bottom: 0;
}
.message-item, .comment-item {
    cursor: pointer;
}
.message-item:hover, .comment-item:hover {
    background-color: #99f;
}
.comment-item[data-level='2']:hover {
    background-color: #9f9
}
.sign-in {
    cursor: default;
}
.comment-item > i.fa:first-child {
    margin-left: 10px;
}
.text_message, .text_comment {
    padding-left: 10px;
}
.comment-item[data-level="2"] {
    cursor: default;
}